@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33; /* Cor do texto (preto) */
  --background-start-rgb: 255, 223, 186; /* Cor de fundo inicial (bege) */
  --background-end-rgb: 255, 255, 255; /* Cor de fundo final (branco) */
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
